<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>  
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,Microsoft.Practices.Unity.Configuration"/>  
  </configSections>
  
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <sectionExtension type="Microsoft.Practices.Unity.InterceptionExtension.Configuration.InterceptionConfigurationExtension, Microsoft.Practices.Unity.Interception.Configuration" />
    <!--<typeAliases>
      <typeAlias alias="singleton" type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager,Microsoft.Practices.Unity"></typeAlias>
    </typeAliases>-->
    <container>  
      <!--register type="full class name,namespace"-->  
      <register type="TestAOP.IProduct,TestAOP" mapTo="TestAOP.Product,TestAOP">  
        <!--<lifetime type="singleton"/>  -->
        <interceptor type="TransparentProxyInterceptor"/>
        <InterceptionBehavior type="PolicyInjectionBehavior" />
      </register>  
    </container>  
  </unity>  
  
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  
</configuration>